.nav-header-info {
    background-image: linear-gradient(0deg, rgb(30, 30, 30) 0%, rgba(30, 30, 30, 0.52) 25%, rgba(30, 30, 30, 0.43) 75%, rgba(30, 30, 30, 1) 100%), url('../img/header-info.jpeg');
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    opacity: 1;
}

header {
    padding-top: 100px;
}

.slider-title h4 {
    font-weight: 400;
    font-style: italic;
    font-size: 2.8rem;
    color: grey;
}

.col-sm {
    color: grey;
}

.paragraph-i {
    color: grey;
}


/*.carousel {
    color: grey;
}*/

.background-information {
    background-color: white;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.information {
    color: black;
    font-size: 1.3rem;
    line-height: 1.33;
    position: relative;
    font-weight: bold;
    transition: 0.2s;
    padding-right: 20px;
}

.information-last:before {
    content: "";
    display: block;
    height: 27px;
    background: black;
    width: 3px;
    position: absolute;
    left: -19px;
}