ul,
li {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
}

nav,
footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

nav ul,
footer ul {
    display: inline-flex;
    justify-content: space-around;
}

body{
    font-family: 'Raleway', sans-serif;
}

.row {
    text-align: center;
}

/* título principal 55px*/
.main-title-h1{
    font-size: 3.43rem;
    line-height: 55px;
}

/* subtítulo 40px */
.secondary-title-h2{
    font-size: 2.5rem;
    line-height: 40px;
}

/* paragraph 20px */
.paragraph-p{
    font-size: 1.25rem;
    line-height: 20px;
}

/* nav and menu text styles 18px */
.menu-text{
 font-size: 1.12rem;
 line-height: 18px;
}

