/* Reset  default styles */

@import url("reset.css");

/* responsive styles */

@import url("media.css");
@import url("tours.css");
@import url("home.css");
@import url("information.css");
@import url("events.css");
nav,
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul,
footer ul {
    display: inline-flex;
    justify-content: space-between;
}

nav.container {
    padding: 50px 0px;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #1d1e1e;
    color: white;
}

a:hover{
    text-decoration: none;
}

/* título principal 55px*/

.main-title-h1 {
    font-size: 9rem;
    font-weight: 900;
    /*line-height: 1.33;*/
    color: white;
}

.title-description {
    font-size: 3rem;
    color: white;
    /*line-height: 1.33;*/
}


/* subtítulo  */

.secondary-title-h2 {
    font-size: 4em;
    margin-bottom: 40px;
    font-weight: bold;
    text-align: center;
    border-bottom: solid 3px;
    width: fit-content;
    text-align: center;
    position: relative;
    margin: 40px auto 60px auto;
}


/*.secondary-title-h2:after{
    content: "";
    display: inline-table;
    height: 3px;
    background: #fff;
    width: 100px;
    top: 15px;
    position: relative;
    text-align: center;
    left: -150px;
}*/

/* paragraph 20px */
.paragraph-p{
    font-size: 1.31em;
    line-height: 1.19;

/* nav and menu text styles 18px */

.menu-text,
.navlink {
    font-size: 1.3rem;
    line-height: 1.33;
    color: white;
    position: relative;
    font-weight: bold;
    transition: 0.2s;
    padding-right: 20px;
}

.navlink:hover,
.navlink:focus {
    color: #e4f757;
    text-decoration: none;
}


/*.nav-link:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}*/

.navlink-last:before { 
    content: "";
    display: block;
    height: 27px;
    background: #fff;
    width: 3px;
    position: absolute;
    left: -19px;
}


section {
   margin-top: 100px;
}