.nav-header-tour {
    background-image: linear-gradient(0deg, rgb(30, 30, 30) 0%, rgba(30, 30, 30, 0.52) 25%, rgba(30, 30, 30, 0.43) 75%, rgba(30, 30, 30, 1) 100%), url('../img/toursheader.jpg');
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    opacity: 1;
}

.conttours {
    margin-bottom: 100px;
}

.space h1 {
    line-height: 1.33;
    margin-bottom: 20px;
}

.space p {
    margin-bottom: 20px;
}

.textcolor {
    color: #4492e6;
    font-size: 30px;
    font-weight: bold;
}